hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 10px solid green;
  margin: 0em 0;
  padding: 0;
}

.ifrn-logo {
  width: 100px;
  height: 120px;
  padding-top: 1rem;
  margin-left: 7rem;
  margin-bottom: 1rem;
}

.menu {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.title {
  color: #36454F;
  flex-basis: 400px;
  align-self: end;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.0em;
  padding-top: 2rem;
  padding-bottom: 0rem;
  margin-left: 2rem;
  margin-bottom: 22px;
}

.napne-logo {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  top: 15px;
  
}

.navbar {
  display: flex;
  margin-left: 3rem;
}

.nav-button {
  border: none;
  background: none;
  height: 0px;
  font-family: "Tahoma";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1;
  padding: 0rem 5rem;
  transition: all 0.4s;
  cursor: pointer;
}

[data-screen] {
  color: green;
  font-family: 'Tahoma';
  padding-top: 2rem;
  padding: 0rem 2rem;
}

.p-text {
  font-family: 'Tahoma';
  width: 80%;
  color: black;
}

[data-logo] {
  cursor: pointer;
}

.a {
  text-align: center;
}

.ab {
  width: 50%;
  padding: 2rem 0rem;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.margin{
  margin-left: 6rem;
  margin-right: 6rem;
}

.fonttt{
  font-size: 45px;
  margin-top: 2rem;
  font-weight: bold;
}
.fontp{
  font-size: 20px;
  margin-left: 6rem;
  margin-right: 6rem;
  color:black;


}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #dddddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: green;
  color: white;
}

